html,body{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size: 20px;
}
.container{
	width: 440px;
	height: 440px;
	margin: 100px auto 0 auto;
	border-radius: 20px;
	background-image: url(../image/background.jpg);
	position: relative;
}
.cell{
	width: 20%;
	height: 20%;
	border-radius: 10px;
	text-align: center;
	line-height: 88px;
	overflow: hidden;
	font-size: 50px;
	font-family: "Arial";
	color: #f9f7ec;
	box-shadow: 5px 5px 2px black inset;
	border: 1px solid #883405;
	box-sizing: border-box;
	float: left;
	margin: 2%;
}
.n2{
	background-color:#8b8b8b;
}
.n4{
	background-color:#e97432;
}
.n8{
	background-color:#d32884;
}
.n16{
	background-color:#4ebab9;
}
.n32{
	background-color:#4eba58;
}
.n64{
	background-color:#dbe71e;
}
.n128{
	background-color:#e7a21e;
}
.n256{
	background-color:#8a30d0;
}
.n512{
	background-color:#d72536;
}
.n1024{
	background-color:#4040c6;
}
.n2048{
	background-color:#ff0000;
}
.n2,.n4,.n8,.n16,.n32,.n64{
	box-shadow: none;
}
.n1024,.n2048{
	font-family: "Arial";
	font-size: 35px;
	box-shadow: none;
}
.n128,.n256,.n512{
	font-family: "Arial";
	font-size: 45px;
	box-shadow: none;
}
#cell_0,#cell_1,#cell_2,#cell_3{
	margin-top: 4%;
}
#cell_0,#cell_4,#cell_8,#cell_12{
	margin-left: 4%;
}
#cell_3,#cell_7,#cell_11,#cell_15{
	margin-right: 4%;
}
#cell_12,#cell_13,#cell_14,#cell_15{
	margin-bottom: 4%;
}
.num{
	width: 20%;
	height: 20%;
	position: absolute;
	border-radius: 10px;
}
.win{
	position: absolute;
	left: 0;
	top: 220px;
	width: 100%;
	height: 150px;
	text-align: center;
	line-height: 150px;
	background-color: rgba(21,240,222,0.8);
	font-family: "微软雅黑";
	font-size: 72px;
	color: #3d3d3d;
	z-index: 2;
	display: none;
}
.win p{
	margin: 0;
}
#score{
	position: absolute;
	left: 50px;
	top: 50px;
}
#cell_0 .num{
	left: 4%;
	top: 4%;
}
#cell_1 .num{
	left: 28%;
	top: 4%;
}
#cell_2 .num{
	left: 52%;
	top: 4%;
}
#cell_3 .num{
	left: 76%;
	top: 4%;
}
#cell_4 .num{
	left: 4%;
	top: 28%;
}
#cell_5 .num{
	left: 28%;
	top: 28%;
}
#cell_6 .num{
	left: 52%;
	top: 28%;
}
#cell_7 .num{
	left: 76%;
	top: 28%;
}
#cell_8 .num{
	left: 4%;
	top: 52%;
}
#cell_9 .num{
	left: 28%;
	top: 52%;
}
#cell_10 .num{
	left: 52%;
	top: 52%;
}
#cell_11 .num{
	left: 76%;
	top: 52%;
}
#cell_12 .num{
	left: 4%;
	top: 76%;
}
#cell_13 .num{
	left: 28%;
	top: 76%;
}
#cell_14 .num{
	left: 52%;
	top: 76%;
}
#cell_15 .num{
	left: 76%;
	top: 76%;
}
.big{
-webkit-animation-name : big;
-webkit-animation-duration : 100ms;
animation-name : big;
animation-duration : 100ms;
}
@-webkit-keyframes big{
from{-webkit-transform : scale(1);}
50%{-webkit-transform : scale(1.2);}
to{-webkit-transform : scale(1);}
}
@keyframes big{
from{transform : scale(1);}
50%{transform : scale(1.2);}
to{transform : scale(1);}
}
@media screen and (max-width: 768px){
	.container{
		width: 90%;
		margin: 10% auto 0 auto;
		border-radius: 20px;
		background-image: url(../image/background.jpg);
		position: relative;
	}
	.cell div{
		display: -webkit-flex;
		display: flex;
		display: -wibkit-flex-box;
		display: flex-box;
		justify-content: center;
		align-items: center;
		box-pack: center;
		box-align: center;
	}
	.n1024,.n2048{
		font-size: 25px;
	}
	.n128,.n256,.n512{
		font-size: 35px;
	}
	.n16,.n32,.n64{
		font-size: 45px;
	}
	.n2,.n4,.n8{
		font-size: 45px;
	}
	.win{
		top: 20%;
		width: 100%;
		height: 20%;
		text-align: center;
		font-size: 60px;
	}
	#score{
		position: absolute;
		left: 10%;
	}
}