html,body{
	margin: 0;
	padding: 0;
}
.container{
	width: 440px;
	height: 440px;
	margin: 100px auto 0 auto;
	border-radius: 20px;
	background-image: url(../image/background.jpg);
}
.cell{
	width: 85px;
	height: 85px;
	border-radius: 10px;
	float: left;
	margin: 10px;
	text-align: center;
	line-height: 85px;
	overflow: hidden;
	font-size: 50px;
	font-family: "Arial";
	color: #f9f7ec;
	box-shadow: 5px 5px 2px black inset;
	border: 1px solid #883405;
	box-sizing: border-box;
}
.cell[style]{
	box-shadow: none;
}
.cell[style="background-color:#4040c6"],.cell[style="background-color:#ff0000"]{
	font-family: "Arial";
	font-size: 35px; 
}
.cell[style="background-color:#e7a21e"],.cell[style="background-color:#8a30d0"],.cell[style="background-color:#d72536"]{
	font-family: "Arial";
	font-size: 45px;
}
#cell_0_0,#cell_0_1,#cell_0_2,#cell_0_3{
	margin-top: 20px;
}
#cell_0_0,#cell_1_0,#cell_2_0,#cell_3_0{
	margin-left: 20px;
}
#cell_0_3,#cell_1_3,#cell_2_3,#cell_3_3{
	margin-right: 20px;
}
#cell_3_0,#cell_3_1,#cell_3_2,#cell_3_3{
	margin-bottom: 20px;
}