html,body{
	margin: 0;
	padding: 0;
}
.container{
	width: 440px;
	height: 440px;
	margin: 100px auto 0 auto;
	border-radius: 20px;
	background-color: #ccc;
}
.cell{
	width: 85px;
	height: 85px;
	border-radius: 10px;
	float: left;
	margin: 10px;
	text-align: center;
	line-height: 85px;
	overflow: hidden;
	font-size: 50px;
	font-family: "Arial Black";
}
.cell[style="background-color:grey"]{
	font-family: "Arial";
	font-size: 35px; 
}
.cell[style="background-color:blue"]{
	font-family: "Arial";
	font-size: 45px;
}
#cell_0_0,#cell_0_1,#cell_0_2,#cell_0_3{
	margin-top: 20px;
}
#cell_0_0,#cell_1_0,#cell_2_0,#cell_3_0{
	margin-left: 20px;
}
#cell_0_3,#cell_1_3,#cell_2_3,#cell_3_3{
	margin-right: 20px;
}
#cell_3_0,#cell_3_1,#cell_3_2,#cell_3_3{
	margin-bottom: 20px;
}