*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.container{
	width: 100%;
	height: 500%;
	position: absolute;
	top: 0;
}
.one,.two,.three,.four,.five{
	width: 100%;
	height: 20%;
}
.one{
	background-color: #ff9999;
}