*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
header{
	box-sizing: border-box;
	height: 15%;
	border-bottom: 1px solid #ccc;
	background-color: #ddd;
}
div{
	box-sizing: border-box;
}
#main{
	height: 85%;
}
#class{
	float: left;
	height: 100%;
	width: 20%;
	border-right: 1px solid #ccc;
	background-color: #f2f2f2;
}
.cla{
	margin: 5%;
}
.one{
	margin: 5% 0 5% 10%;
	list-style: none;
}
.misson{
	margin: 5% 0 5% 15%;
	list-style: none;
}
#todo{
	float: left;
	height: 100%;
	width: 20%;
	border-right: 1px solid #ccc;
}
#content{
	position: relative;
	height: 100%;
	width: 60%;
	margin-left: 40%;
}
.add{
	width: 20%;
	height: 8%;
	position: absolute;
	top: 92%;
	border-top: 1px solid #ccc;
	background-color: #eee;
	border-right: 1px solid #ccc;
	text-align: center;
}
.add p{
	margin-top: 6%;
}
#did{
	width: 100%;
	height: 8%;
	border-bottom: 1px solid #ccc;
	background-color: #eee;
	text-align: center;
}
#did span{
	display: inline-block;
	margin: 4.5%;
}
.cont{
	width: 100%;
}
#title{
	position: absolute;
	top: 0;
	left: 0;
	height: 10%;
	border-bottom: 1px solid #ccc;
	background-color: #f2f2f2;
}
#time{
	position: absolute;
	top: 10%;
	left: 0;
	height: 10%;
	border-bottom: 1px solid #ccc;
	background-color: #fafaee;
}
#contents{
	position: absolute;
	top: 20%;
	left: 0;
	height: 80%;
}
