*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
header{
	height: 15%;
	border-bottom: 1px solid #ccc;
	background-color: #ddd;
}
#main{
	height: 85%;
}
#class{
	float: left;
	height: 100%;
	width: 20%;
	border-right: 1px solid #ccc;
	background-color: #f2f2f2;
}
#todo{
	float: left;
	height: 100%;
	width: 20%;
	border-right: 1px solid #ccc;
}
#content{
	height: 100%;
	width: 60%;
}
.add{
	width: 20%;
	height: 8%;
	position: absolute;
	top: 92%;
	border-top: 1px solid #ccc;
}