*{
	margin: 0;
	padding: 0;
	font-family: 微软雅黑,serif;
}
html,body{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
header{
	box-sizing: border-box;
	height: 15%;
	border-bottom: 1px solid #ccc;
	background-color: #ddd;
}
div{
	box-sizing: border-box;
}
#main{
	height: 85%;
}
#class{
	float: left;
	height: 100%;
	width: 20%;
	border-right: 1px solid #ccc;
	background-color: #f2f2f2;
}
.cla{
	margin: 5%;
}
#cc li{
	margin: 5% 0 5% 10%;
	list-style-image: url(../image/bag.gif);
	list-style-position: inside;
}
.misson{
	margin: 5% 0 5% 15%;
	list-style-image: url(../image/doc.gif);
	list-style-position: inside;
}
#todo{
	float: left;
	height: 100%;
	width: 20%;
	border-right: 1px solid #ccc;
}
#content{
	position: relative;
	height: 100%;
	width: 60%;
	margin-left: 40%;
}
.add{
	width: 20%;
	height: 8%;
	position: absolute;
	top: 92%;
	border-top: 1px solid #ccc;
	background-color: #eee;
	border-right: 1px solid #ccc;
	text-align: center;
}
.add p{
	margin-top: 6%;
}
.add div{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
#addClass{
	width: 60%;
	height: 40%;
	margin: 5% 5% 0 -5%;
	outline: none;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.add button{
	width: 18%;
	height: 40%;
	border: 1px solid #ccc;
	outline: none;
	border-radius: 5px;
}
#did{
	width: 100%;
	height: 8%;
	border-bottom: 1px solid #ccc;
	background-color: #eee;
	text-align: center;
	font-size: 14px;
}
#did span{
	display: inline-block;
	margin: 5%;
}
#task li{
	list-style: none;
}
#taskList li{
	padding: 2% 0 2% 12%;
}
li img{
	float: right;
	margin-top: 2%;
	margin-right: 15%;
	display: none;
}
.cont{
	width: 100%;
}
#title{
	position: absolute;
	top: 0;
	left: 0;
	height: 10%;
	border-bottom: 1px solid #ccc;
	background-color: #f2f2f2;
	font-family: "黑体";
	font-size: 20px;
	font-weight: bold;
}
#title p{
	margin: 2% 0 0 3%;
	display: inline-block;
}
#title img{
	float: right;
	margin: 10px;
}
#time{
	position: absolute;
	top: 10%;
	left: 0;
	height: 10%;
	border-bottom: 1px solid #ccc;
	background-color: #fafaee;
}
#time p{
	margin: 2.5% 0 0 3%;
}
#contents{
	position: absolute;
	top: 20%;
	left: 0;
	height: 80%;
	overflow: auto;
}
#contents p{
	margin: 3%;
}
